<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/css/elements.min.css" nonce="{{ csp_nonce() }}" />
    <link rel="stylesheet" href="/static/css/layout.css" nonce="{{ csp_nonce() }}" />
    <link rel="stylesheet" href="/static/css/about.css" nonce="{{ csp_nonce() }}" />
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <main>
      <header class="header header-light">
        <div class="header-light-content ml-3">
          <a class="logo" href="{{ url_for('main.index') }}">
            <img src="/static/img/epfl-logo.svg" alt="Logo EPFL" class="img-fluid" />
          </a>
          <img src="/static/img/epflFacultyLogo.png" alt="School of computer and communication science IC" class="image-faculity img-fluid d-none d-sm-flex" />
          <ul class="nav-header">
            {% if current_user.is_authenticated %}
            <li {% if active_page == 'profile' %}class="current-menu-item"{% endif %}>
              <a class="nav-item" href="{{ url_for('main.profile') }}">Profile</a>
            </li>
            <li {% if active_page == 'profiles' %}class="current-menu-item"{% endif %}>
              <a class="nav-item" href="{{ url_for('main.profiles') }}">Profiles</a>
            </li>
            <li>
              <a class="nav-item" href="{{ url_for('main.logout') }}">Logout</a>
            </li>
            {% else %}
            <li {% if active_page == 'signup' %}class="current-menu-item"{% endif %}>
              <a class="nav-item" href="{{ url_for('main.signup') }}">Sign up</a>
            </li>
            <li {% if active_page == 'login' %}class="current-menu-item"{% endif %}>
              <a class="nav-item" href="{{ url_for('main.login') }}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </header>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
        <div class="container">
            <div class="alert alert-{{ 'info' if category == 'message' else category }}" role="alert">
            {{ message }}
            </div>
        </div>
        {% endfor %}
      {% endwith %}

      {% block content %}
      {% endblock %}

     
    </main>


  </body>
</html>
